<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Inicio</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">



        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>


                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Jonny Lezcano</span>
                                <img class="img-profile rounded-circle" src="images/jonny.jpg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/login" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Cerrar Sesión
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <!-- <li class="nav-item">
                            <a class="nav-link" id="pills-inicio-tab" data-toggle="pill" href="#pills-inicio"
                                role="tab" aria-controls="pills-inicio" aria-selected="true">Inicio</a>
                        </li> -->
                        <li class="nav-item">
                            <a class="nav-link" id="pills-documentos-tab" data-toggle="pill" href="#pills-documentos"
                                role="tab" aria-controls="pills-documentos" aria-selected="false">Documentos</a>
                        </li>
                        <li class="nav-item invisible">
                            <a class="nav-link" id="pills-documento-tab" data-toggle="pill" href="#pills-documento"
                                role="tab" aria-controls="pills-documento" aria-selected="false"></a>
                        </li>
                        <li class="nav-item active invisible">
                            <a class="nav-link" id="pills-verdoc-tab" data-toggle="pill" href="#pills-verdoc" role="tab"
                                aria-controls="pills-verdoc" aria-selected="true"></a>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <!-- INICIOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO -->
                        <!-- <div class="tab-pane fade show active" id="pills-inicio" role="tabpanel"
                            aria-labelledby="pills-inicio-tab">

                            <br>
                            Page Heading
                            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                <h1 class="h3 mb-0 text-gray-800">Panel Inicial</h1>
                            </div>

                            Content Row
                            <div class="row">

                                Earnings (Monthly) Card Example
                                <div class="col-xl-3 col-md-6 mb-4">
                                    <div class="card border-left-danger shadow h-100 py-2">
                                        <div class="card-body">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
                                                    <div
                                                        class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                                        Pendientes</div>
                                                    <div class="h5 mb-0 font-weight-bold text-gray-800">0</div>
                                                </div>
                                                <div class="col-auto">
                                                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                Earnings (Monthly) Card Example
                                <div class="col-xl-3 col-md-6 mb-4">
                                    <div class="card border-left-primary shadow h-100 py-2">
                                        <div class="card-body">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
                                                    <div
                                                        class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                        En Proceso</div>
                                                    <div class="h5 mb-0 font-weight-bold text-gray-800">1</div>
                                                </div>
                                                <div class="col-auto">
                                                    <i class="fas fa-file-alt fa-2x text-gray-300"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                Pending Requests Card Example
                                <div class="col-xl-3 col-md-6 mb-4">
                                    <div class="card border-left-success shadow h-100 py-2">
                                        <div class="card-body">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
                                                    <div
                                                        class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                        Completados</div>
                                                    <div class="h5 mb-0 font-weight-bold text-gray-800">0</div>
                                                </div>
                                                <div class="col-auto">
                                                    <i class="fas fa-check-double fa-2x text-gray-300"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                Pending Requests Card Example
                                <div class="col-xl-3 col-md-6 mb-4">
                                    <div class="card border-left-warning shadow h-100 py-2">
                                        <div class="card-body">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
                                                    <div
                                                        class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                        Completado Tarde</div>
                                                    <div class="h5 mb-0 font-weight-bold text-gray-800">0</div>
                                                </div>
                                                <div class="col-auto">
                                                    <i class="fas fa-bell fa-2x text-gray-300"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            Content Row

                            <div class="row">

                                Area Chart
                                <div class="col-xl-12 col-lg-7">
                                    <div class="card shadow mb-4">
                                        Card Header - Dropdown
                                        <div
                                            class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                            <h6 class="m-0 font-weight-bold text-primary">Documentos Disponibles</h6>
                                        </div>
                                        Card Body
                                        <div class="card-body">
                                            <table class="table table-hover table-sm table-dark">
                                                <tbody>
                                                    <div class="card shadow mb-4">
                                                        Card Header - Accordion
                                                        <a href="#collapseCardExample2" class="d-block card-header py-3"
                                                            data-toggle="collapse" role="button" aria-expanded="true"
                                                            aria-controls="collapseCardExample2">
                                                            <h6 class="m-0 font-weight-bold text-primary">Recibo de
                                                                Haberes -
                                                                Abril 2019</h6>
                                                        </a>
                                                        Card Content - Collapse
                                                        <div class="collapse show" id="collapseCardExample2">
                                                            <a href="#/documento" id="btnDocumento">
                                                                <div class="card-body">
                                                                    <p>Creador: Magno Oliveira</p>
                                                                    <p id="estadoDoc">Estado: En Proceso</p>
                                                                    <hr />
                                                                    <p>Vencimiento: 30/04/2019</p>
                                                                </div>
                                                            </a>

                                                        </div>
                                                    </div>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <!-- DOCUMENTOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO -->
                        <div class="tab-pane fade" id="pills-documentos" role="tabpanel"
                            aria-labelledby="pills-documentos-tab">

                            <br>
                            <!-- Cabecera de la Pagina -->
                            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                <h1 class="h3 mb-0 text-gray-800">Mis Documentos Generados</h1>
                            </div>

                            <!-- Contenido del Formulario -->

                            <div class="row">
                                <!-- Area Chart -->
                                <div class="col-xl-12 col-lg-7">
                                    <div class="card shadow mb-4">
                                        <!-- Card Header - Dropdown -->
                                        <div
                                            class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                            <h6 class="m-0 font-weight-bold text-primary">Documentos Disponibles
                                            </h6>
                                        </div>
                                        <!-- Card Body -->
                                        <div class="card-body">
                                            <table class="table table-hover table-sm table-dark">
                                                <tbody>
                                                    <div class="card shadow mb-4">
                                                        <!-- Card Header - Accordion -->
                                                        <a href="#collapseCardExample2" class="d-block card-header py-3"
                                                            data-toggle="collapse" role="button" aria-expanded="true"
                                                            aria-controls="collapseCardExample2">
                                                            <h6 class="m-0 font-weight-bold text-primary">Recibo de
                                                                Haberes -
                                                                Abril 2019</h6>
                                                        </a>
                                                        <!-- Card Content - Collapse -->
                                                        <div class="collapse show" id="collapseCardExample2">
                                                            <a href="#/documento" id="btnDocumento1">
                                                                <div class="card-body">
                                                                    <p>Creador: Magno Oliveira</p>
                                                                    <p id="estadoDoc1">Estado: En Proceso</p>
                                                                    <hr />
                                                                    <p>Vencimiento: 30/04/2019</p>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- DOCUMENTOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO -->
                        <div class="tab-pane fade" id="pills-documento" role="tabpanel"
                            aria-labelledby="pills-documento-tab">

                            <br>
                            <!-- Cabecera de la Pagina -->
                            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                <h1 class="h3 mb-0 text-gray-800">Recibo de Haberes - Abril 2019</h1>
                            </div>

                            <!-- Contenido del Formulario -->

                            <div class="row">
                                <!-- Area Chart -->
                                <div class="col-xl-12 col-lg-7">
                                    <div class="card shadow mb-4">
                                        <!-- Card Header - Dropdown -->
                                        <div
                                            class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                            <h6 class="m-0 font-weight-bold text-primary">Resumen</h6>
                                        </div>
                                        <!-- Card Body -->
                                        <div class="card-body">
                                            <table class="table table-hover table-sm table-dark">
                                                <tbody>
                                                    <table class="table">
                                                        <tbody>
                                                            <tr>
                                                                <td>Fecha del Documento:</td>
                                                                <td>Abril</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Fecha de Vencimiento:</td>
                                                                <td>30/04/2019</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.container-fluid -->

                            </div>


                            <div class="row">
                                <div class="col-xl-8 col-lg-7">
                                    <div class="card shadow mb-4">
                                        <!-- Card Header - Dropdown -->
                                        <div
                                            class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                            <h6 class="m-0 font-weight-bold text-primary">Destinatarios</h6>
                                        </div>
                                        <!-- Card Body -->
                                        <div class="card-body">
                                            <button class="btn btn-primary" data-toggle="modal"
                                                data-target="#firmarModal">Firmar
                                            </button>
                                            <br>
                                            <br>
                                            <div class="table-responsive">
                                                <table class="table table-bordered text-dark" id="dataTable"
                                                    width="100%" cellspacing="0">
                                                    <thead>
                                                        <tr>
                                                            <th>Primer Firmante</th>
                                                            <th>Segundo Firmante</th>
                                                            <th>Tercer Firmante</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="table-secondary">
                                                        <tr>
                                                            <td class="table-success"></i><i class="fas fa-landmark"
                                                                    style="color: red"></i> Mario Castro
                                                            </td>
                                                            <td class="table-success"><i class="fas fa-handshake"
                                                                    style="color: white"></i>
                                                                Magno Oliveira</td>
                                                            <td id="ffuncionario"><i class="fas fa-fist-raised"
                                                                    style="color: blue"></i>
                                                                Jonny Lezcano</td>
                                                            <td>
                                                                <div class="d-inline oculto">
                                                                    <a href="#/liquidaciones"
                                                                        class="btn btn-md btn-primary shadow-sm"
                                                                        id="btnVerdocumento">Ver Documento</a>
                                                                </div>
                                                                <div class="oculto1">
                                                                    <a href="#/liquidaciones"
                                                                        class="btn btn-md btn-primary shadow-sm"
                                                                        id="btnVerdocumento1">Ver Documento</a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End of Main Content -->
                        </div>
                        <!-- VERDOCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC -->
                        <div class="tab-pane fade show active" id="pills-verdoc" role="tabpanel"
                            aria-labelledby="pills-verdoc-tab">

                            <br />
                            <!-- Cabecera de la Pagina -->
                            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                <h1 class="h3 mb-0 text-gray-800">Recibo de Haberes - Abril 2019</h1>
                            </div>

                            <!-- Contenido del Formulario -->

                            <div class="row">
                                <!-- Area Chart -->
                                <div class="col-xl-8 col-lg-7">
                                    <div class="card shadow mb-4">
                                        <!-- Card Header - Dropdown -->
                                        <div
                                            class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                            <h6 class="m-0 font-weight-bold text-primary">PDF</h6>
                                        </div>
                                        <!-- Card Body -->
                                        <div class="card-body">
                                            <div class="mt-4 text-center small">
                                                <div class="embed-responsive embed-responsive-16by9">
                                                    <div id="contPdf">
                                                        <iframe class="embed-responsive-item"
                                                            src="./pdf/magno.pdf"></iframe>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-7">
                                    <div class="card shadow mb-4">
                                        <div
                                            class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                            <h6 class="m-0 font-weight-bold text-primary">Opciones</h6>
                                        </div>
                                        <div class="card-body">
                                            <div class="mt-4 text-center small">
                                                <div class="btn-group-vertical">
                                                    <a class="btn btn-md btn-success shadow-sm" href="#/login"
                                                        data-toggle="modal" data-target="#firmarModal" id="firmarDoc">
                                                        <i class="fas fa-pen-fancy fa-sm text-white-50"></i>
                                                        Firmar
                                                    </a>
                                                    <a class="btn btn-md btn-danger shadow-sm" href="#/login"
                                                        data-toggle="modal" data-target="#rechazarModal"
                                                        id="rechazarDoc">
                                                        <i class="fas fa-pen-fancy fa-sm text-white-50"></i>
                                                        Observación
                                                    </a>
                                                    <a href="/login"  data-toggle="modal"
                                                        data-target="#logoutModal"
                                                        class="btn btn-md btn-info shadow-sm" ><i
                                                            class="fas fa-reply fa-sm text-white-50"></i>Salir</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card shadow mb-4">
                                        <div
                                            class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                            <h6 class="m-0 font-weight-bold text-primary">Firmas</h6>
                                        </div>
                                        <div class="card-body">
                                            <div class="mt-4 text-center small">
                                                <div class="btn-group-vertical">
                                                    <ul>
                                                        <li>Firmado por Mario Castro en caracter de Director General de
                                                            EOS
                                                            Group</li>
                                                        <li>Firmado por Magno Oliveira en caracter de Gerente RR.HH. de
                                                            EOS
                                                            Group</li>
                                                        <li id="lista1"></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; EOS GROUP</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Quiere salir?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Selecciona Cerrar Sesion para terminar con esta sesión.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-primary" href="/">Cerrar Sesion</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="mensajeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Firmado</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Se ha Firmado con Suceso el Documento.</p>
                </div>
                <div class="modal-footer">
                    <!-- <button class="btn btn-primary" type="button" id="firmartoken"
                        data-dismiss="modal">Confirmar</button> -->
                    <a class="btn btn-primary" data-dismiss="modal" href="#">Entendido</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Firmar -->
    <div class="modal fade" id="firmarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Firmar Funcionario</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="contenido">
                        <label for="password">Ingrese su contraseña del token</label>
                        <input type="password">
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <!-- <button class="btn btn-primary" type="button" id="firmartoken"
                        data-dismiss="modal">Confirmar</button> -->
                    <a class="btn btn-primary" id="firmartoken" href="#">Confirmar</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Rechazar -->
    <div class="modal fade" id="rechazarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Observación</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="contenido">
                        <textarea name="rechazo" id="txtRechazo" cols="55" rows="5"
                            placeholder="Escriba su observacion."></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <button class="btn btn-primary" type="button" id="btnRechazar">Confirmar</button>
                    <!-- <a class="btn btn-primary" type="button" href="#">Confirmar</a> -->
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/datatables-demo.js"></script>


    <script>
        $(document).ready(function () {
            $('#liquidaciones').on('click', function () {
                $('#pills-tab a[href="#pills-liquidacion"]').tab('show');
            });
            $('#liquidaciones1').on('click', function () {
                $('#pills-tab a[href="#pills-liquidacion"]').tab('show');
            });
            $('#liquidaciones2').on('click', function () {
                $('#pills-tab a[href="#pills-liquidacion"]').tab('show');
            });
            $('#liquidaciones3').on('click', function () {
                $('#pills-tab a[href="#pills-liquidacion"]').tab('show');
            });
            $('#liquidaciones4').on('click', function () {
                $('#pills-tab a[href="#pills-liquidacion"]').tab('show');
            });
            $('#btnInicio').on('click', function () {
                $('#pills-tab a[href="#pills-inicio"]').tab('show');
            });
            $('#btnVolver1').on('click', function () {
                $('.oculto1').removeClass('d-none');
                $('.oculto1').addClass('d-inline');
                $('.oculto').removeClass('d-inline');
                $('.oculto').addClass('d-none');
                $('#pills-tab a[href="#pills-documento"]').tab('show');
            });
            $('#btnDocumentos').on('click', function () {
                $('#pills-tab a[href="#pills-documentos"]').tab('show');
            });
            $('#btnLiquidacion').on('click', function () {
                $('#pills-tab a[href="#pills-liquidacion"]').tab('show');
            });
            $('#btnFuncionarios').on('click', function () {
                $('#pills-tab a[href="#pills-funcionarios"]').tab('show');
            });
            $('#btnDocumento').on('click', function () {
                $(".oculto1").addClass('d-none');
                $('#pills-tab a[href="#pills-documento"]').tab('show');
            });
            $('#btnDocumento1').on('click', function () {
                $(".oculto1").addClass('d-none');
                $('#pills-tab a[href="#pills-verdoc"]').tab('show');
            });
            $('#btnVerdocumento').on('click', function () {
                $('#contPdf').html(
                    '<iframe src="./pdf/magno.pdf" width="600" height="500" frameborder="0"></iframe>'
                )
                $('#pills-tab a[href="#pills-verdoc"]').tab('show');
            });
            $('#btnVerdocumento1').on('click', function () {
                $('#contPdf').html(
                    '<iframe src="./pdf/jonny.pdf" width="600" height="500" frameborder="0"></iframe>'
                );
                $('#pills-tab a[href="#pills-verdoc"]').tab('show');
            });
            $('#aceptar').on('click', function () {
                $('#pills-tab a[href="#pills-profile"]').tab('show');
            });
            $('#firmar').on('click', function () {
                $('#pills-tab a[href="#pills-contact"]').tab('show');
            });
            $('#firmartoken').click(function () {
                $('#contenido').html(
                    '<div class="d-flex align-items-center"> <strong>Firmando...</strong> <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div> </div>'
                );
                setTimeout("cerrar()", 3000);
            });
            $('#btnRechazar').click(function () {
                $(".close").trigger('click');
            })
        });

        function cerrar() {
            $('#ffuncionario').addClass("table-success");
            $('#ffuncionario').text('Jonny Lezcano(Funcionario) 100%');
            $('#lista1').text('Firmado por Jonny Lezcano en caracter de Funcionario, EOS Group');
            $('#tdProceso').text('0');
            $('#tdCompleto').text('1');
            $('#estadoDoc').text('Estado: Completado');
            $('#estadoDoc1').text('Estado: Completado');
            $('#contPdf').html(
                '<iframe src="./pdf/jonny.pdf" width="600" height="500" frameborder="0"></iframe>'
            );
            $(".close").trigger("click");
            $('#contenido').html(
                '<div id="contenido"> <label for="password">Ingrese su contraseña del token</label> <input type="password"> </div>'
            );
            $('#firmarDoc').addClass('disabled');
            $('#mensajeModal').modal("show");
        };
    </script>

</body>

</html>