<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Login</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-6 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div style="text-align: center; margin-top: 10px;">
              <img src="/images/eos.png" height="250" width="300">
            </div>
            <div class="row">
              <!-- <div class="col-lg-6 d-none d-lg-block bg-login-image table-responsive"></div> -->
              <!-- <div class="col-lg-6"> -->
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h3 text-gray-900 mb-4">Recibo Electronico de Pago de Haberes Laborales</h1>
                  <h2 class="h6 text-gray-900 mb-4">Segun Resolución MTESS N° 673/16</h2>
                </div>
                <form class="user" action="/login" method="POST">
                  <div class="form-group">
                    <input type="text" class="form-control form-control-user" id="usuario" name="usuario"
                      aria-describedby="emailHelp" placeholder="Ingrese su Cedula de Identificación...">
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control form-control-user" id="password" name="password"
                      placeholder="Contraseña">
                  </div>
                  <button type="submit" class="btn btn-primary btn-user btn-block">Iniciar Sesion</button>
                  <!-- <a href="/index" class="btn btn-primary btn-user btn-block">
                      Iniciar Sesion
                    </a> -->
                </form>
              </div>
              <!-- </div> -->
            </div>
          </div>
          <div class="row">
            <div class="col-lg-1">
            </div>
            <div class="col-lg-5">
              <img src="/images/logocd100.png" height="150" width="200">
            </div>
            <div class="col-lg-6">
              <img src="/images/eos1.png" height="120" width="200">
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

</body>

</html>